body {
  background-color: rgb(234, 241, 243);
}

/*Effects all things in the page but can be overwritten
*/
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
p,
li,
mark,
a {
  font-family: sans-serif;
}

.header_title {
  font-size:calc(20px + 1.5vw);
}

.headerContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin: 0px;
  position: sticky;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
  background-color: rgba(198, 253, 255, 0.9);
  border-bottom: 5px solid cadetblue;
  font-size:calc(20px + 1.5vw);
}

.header_left {
  flex: 4;
  position: sticky;
  align-items: center;
  text-align: center;

  justify-content: space-between;
}

.slogan {
  font-size:calc(10px + 0.5vw);
}

.header_right {
  flex: 1;

  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
      "s1"
      "s2"
}

.button_1,
.button_2 {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.header_right_button {

  margin-top: auto;
  display: block;
  text-align: right;
  
  position: relative;
  border-radius: 1px;
  padding: 10px;
  flex: 1;

}

.menu_content_columns{
  column-count: 2;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}

.sideMenu {

  flex: 1;
  width: 15%;
  background-color: #070707e2;
}

.sideMenu ul{
    list-style-type: none;
    padding: 0;
    margin:0;
}


.sideMenu li{
    padding: 15%;
    border: 1px solid black;
    color: white;
    font-weight: bold;
}


.sideMenu li a{
    text-decoration: none;
    color: white;
}

.content {
  flex: 5;
  padding: 20px;
}

#footerContainer{
background-color: aquamarine;
}

.footerContainer{
  position: fixed;
    height: 10%;
    width: 100%;
    bottom: 0;
    background-color: grey;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}