<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<style>
	h1{
		text-align: center;
		font-size: 50;
		color: #b22222;
		font-family: Garamond;
	}
	body{
		background-color: White;
	}
	table{
		margin: .3em;
		width: 100%;
		text-align: center;
		background-color: #b22222;
		border-radius:10px;
		font-family: verdana;
		color : LightGray;
		font-size: 18;
	}
	button{
		background-color: LightGray;
		color: #b22222;
		width: 30%;
		height: 40px;
		cursor: pointer;
		margin: 2px;
		border-radius:12px
	}
	button:hover{
		background-color: #e57575;
		color: white;
	}
	button:active{
		background-color: #770600;
		color: white;
	}
	.reservationDates{
    		display: flex;
 	}
  	.endDate{
    		margin-left: 10%;
  	}
	.calendar{
		color: LightGray;
		width: 12px;
	}
	input[type = text]{
		background-color: LightGray; 
		font-size: 15px;
		margin: 8px 4px;  
		padding: 8px 8px;   
		display: inline-block;   
		border: 2px solid DarkGray;   
		box-sizing: border-box; 
		border-radius:12px
	}
	.descriptionBox, .mileage{
		padding: 5px 5px;
	}
	.infoCell{
		width: 50%;
		text-align: centre;
	}
	.backButton{
		width: 176px;
		background-color: #b22222;
		color: LightGray;
		font-size: 18px;
	}
	.backButton:hover{
		background-color: #e57575;
		color: white;
	}
	.backButton:active{
		background-color: #770600;
		color: white;
	}
	h1{
		text-align: center;
		font-size: 6em;
		color: #b22222;
		font-family: Garamond;
	}
</style>
</head>
</html>
