<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block page_title %}{% endblock %} | Omega</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'base.css' %}" />
  </head>
  <body>
    <header class="headerContainer">
      <div class="header_left">
        <div class="header_title">
          <h1>{% block header_title %}{% endblock %}</h1>
        </div>
        <div class = "slogan">
          <h4>Reserve a car or else</h4>
        </div>
      </div>
      <div class="header_right">
        {% if request.user.is_authenticated %}
        <div class="button_1">
          <a href=""><button class="header_right_button">Sign Out</button></a>
        </div>
        <div class="button_2">
          <a href=""><button class="header_right_button">Account</button></a>
        </div>
        {% else %}
        <div class="button_1">
          <a href="{% url 'login' %}"><button class="header_right_button">Login</button></a>
        </div>
        <div class="button_2">
          <a href="{% url 'signup' %}"><button class="header_right_button">Sign Up</button></a>
        </div>
        {% endif %}
      </div>
    </header>
    <div class="menu_content_columns">
      <div class="sideMenu">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'startres' %}">Start a Reservation</a></li>
          <li><a href="{% url 'reservations' %}">Existing Reservation</a></li>
          <li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
        </ul>
      </div>
      <div class="content">
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
  <footer>
    <div class="footerContainer">
      <table id="footerTable"></table>
    </div>
  </footer>
</html>
