<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Check Out</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'OMEGACarList.css' %}">
</head>

<body>
  <div class="headerContainer">
    <h1>Check Out</h1>
  </div>
  <div class="sideMenu">
    <ul>
        <li><a href="{% url 'startres' %}">Start a Reservation</a></li>
        <li><a href="{% url 'reservations' %}">Existing Reservation</a></li>
        <li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
        <li><a href="{% url 'findabranch' %}">Find a Branch</a></li>
        <li><a href="{% url 'make_post' %}">Make Post</a></li>
        <li><a href="{% url 'posts' %}">Posts</a></li>
</ul>
</div>
<br><br>

<div class = "container"> 
<br><br>
<form action="{% url 'receipt' %}" method="post" id="checkoutForm>
  {% csrf_token %}
    <fieldset>
     <p> 
    <label>Was the car dropped off at the correct location?</label><br>
      <input type="radio" id="right" name="location" value="Right" required>
      <label for="right">Yes</label>
      <input type="radio" id="wrong" name="location" value="Wrong" required>
      <label for="wrong">No</label> 
    </p>
  
      <p><label>Is there any damages to the car?</label><br>
      <input type="radio" id="yes" name="damages" value="Yes" required>
      <label for="yes">Yes</label>
      <input type="radio" id="no" name="damages" value="No" required>
      <label for="no">No</label></p>

	<div id="damagesMessageContainer"></div>

      <input type="submit" class="checkoutButton" value="Proceed to your Receipt"> 
</form>
</div>
                                                                                 
<footer>
	<div class="footerContainer">
        	<table id="footerTable"> 
         	</table>
	</div>
</footer>

<script>
  document.getElementById('checkoutForm').addEventListener('change', function(event) {
    if (event.target.id === 'yes' || event.target.id === 'no') {
      var damagesYes = document.getElementById('yes').checked;
      var damagesMessageContainer = document.getElementById('damagesMessageContainer');
      damagesMessageContainer.innerHTML = damagesYes ? 'We will unfortunately keep your deposit to repair the damages done to the car.' : 'Your deposit of 500$ will be returned to you.';
    }
  });
</script>
	
</body>

</html>
