<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'Style.css' %}">
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <h1>Omega's Car Reservations</h1>
      </div>
      {% if request.user.is_authenticated %}
        <div class="signOutButton">
          <a href="{% url 'logout' %}"><button class="header_right_button">Sign Out</button></a>
        </div>
        <div class="accountButton">
          <a href="{% url 'profile' %}"><button class="header_right_button">Account</button></a>
        </div>
      {% else %}
        <div class="logInButton">
          <a href="{% url 'login' %}"><button class="header_right_button">Login</button></a>
        </div>
        <div class="signUpButton">
          <a href="{% url 'signup' %}"><button class="header_right_button">Sign Up</button></a>
        </div>
      {% endif %}
    </header>
    <div class="sideMenu">
      <ul>
          
          <li><a href="{% url 'startres' %}">Start a Reservation</a></li>
          <li><a href="{% url 'reservations' %}">Existing Reservation</a></li>
          <li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
          <li><a href="{% url 'findabranch' %}">Find a Branch</a></li>

      </ul>
    </div>
    <div class="economyChoiceContainer">
      <div class="chevroletVolt">
        <a href="{% url 'chevroletVoltReserve' %}" class="carLink">Chevrolet Volt</a>
        <img src="{%static 'img/chevrolet_volt.jpg' %}" alt="Picture of the Chevrolet Volt" height="300" width="300">
        <br>
        <a href="{% url 'chevroletVoltReserve' %}"><button class="viewEconomyCars">Reserve</button></a>
      </div>
      <div class="toyotaPrius">
        <a href="{% url 'toyotaPriusReserve' %}" class="carLink">Toyota Prius</a>
        <img src="{%static 'img/toyota_prius.jpg' %}" alt="Picture of the Toyota Prius" height="300" width="300">
        <br>
        <a href="{% url 'toyotaPriusReserve' %}"><button class="viewluxuryCars">Reserve</button></a>
      </div>
      <div class="kiaNiro">
        <a href="{% url 'kiaNiroReserve' %}" class="carLink">Kia Niro</a>
        
        <img src="{%static 'img/kia_niro.jpg' %}" alt="Picture of the Kia Niro" height="300" width="300">
        <br>
        <a href="{% url 'kiaNiroReserve' %}"><button class="viewconvertibleCars">Reserve</button></a>
      </div>
      <div class="hondaCivic">
        <a href="{% url 'hondaCivicReserve' %}" class="carLink">Honda Civic</a>
        
        <img src="{%static 'img/honda_civic.jpg' %}" alt="Picture of the Honda Civic" height="300" width="300">
        <br>
        <a href="{% url 'hondaCivicReserve' %}"><button class="viewconvertibleCars">Reserve</button></a>
      </div>
    </div>
    <footer>
      <div class="footerContainer">
          <table id="footerTable">
              
          </table>
      </div>
   </footer>
  </body>
</html>
