<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'Style.css' %}">
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <h1>Omega's Car Reservations</h1>
      </div>
      {% if request.user.is_authenticated %}
        <div class="signOutButton">
          <a href="{% url 'logout' %}"><button class="header_right_button">Sign Out</button></a>
        </div>
        <div class="accountButton">
          <a href="{% url 'profile' %}"><button class="header_right_button">Account</button></a>
        </div>
      {% else %}
        <div class="logInButton">
          <a href="{% url 'login' %}"><button class="header_right_button">Login</button></a>
        </div>
        <div class="signUpButton">
          <a href="{% url 'signup' %}"><button class="header_right_button">Sign Up</button></a>
        </div>
      {% endif %}
    </header>
    <div class="sideMenu">
      <ul>
          
          <li><a href="{% url 'startres' %}">Start a Reservation</a></li>
          <li><a href="{% url 'reservations' %}">Existing Reservation</a></li>
          <li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
          <li><a href="{% url 'findabranch' %}">Find a Branch</a></li>

      </ul>
    </div>
    <div class="economyTableContainer">
      <table class="economyCarsTable">
        <tr>
          <td style = "text-align: left;">
            <label><h1>Vehicle</h1></label>
          </td>
          <td>
            <label><h1>Information</h1></label>
          </td>
          <td>
            <label><h1>Price</h1></label>
          </td>
        </tr>
        <tr>
          <td style = "text-align: left;">
            <img src="{%static 'img/honda_civic.jpg' %}" width = "350" height = "200">
            <br>
            <a href="{% url 'Civic' %}">Honda Civic</a>
          </td>
          <td>
            <label>
              4 People <br>
              3 Baggages <br>
              Automatic
            </label>
          </td>
          <td>
            <label>84.99$/day</label>
          </td>
          {% if request.user.is_authenticated %}
						<td style = "text-align: right;">
							<a href="{% url 'economyres' %}">
								<button id="tableReserveButton">Reserve</button>
							</a>
						</td>
					{% else %}
						<td style = "text-align: right;">
							<a href="{% url 'login' %}">
								<button type="tableReserveButton">Reserve</button>
							</a>
						</td>
					{% endif %}
          <tr>
            <td style = "text-align: left;">
              <img src="{%static 'img/chevrolet_volt.jpg' %}" width = "350" height = "200">
              <br>
              <a href="{% url 'Volt' %}">Chevrolet Volt</a>
            </td>
            <td>
              <label>
                4 People <br>
                4 Baggages <br>
                Automatic
              </label>
            </td>
            <td>
              <label>89.99$/day</label>
            </td>
            {% if request.user.is_authenticated %}
						<td style = "text-align: right;">
							<a href="{% url 'economyres' %}">
								<button id="tableReserveButton">Reserve</button>
							</a>
						</td>
					{% else %}
						<td style = "text-align: right;">
							<a href="{% url 'login' %}">
								<button id="tableReserveButton">Reserve</button>
							</a>
						</td>
					{% endif %}
          </tr>
          <tr>
            <td style = "text-align: left;">
              <img src="{%static 'img/toyota_prius.jpg' %}" width = "350" height = "200">
              <br>
              <a href="{% url 'Prius' %}">Toyota Prius</a>
            </td>
            <td>
              <label>
                4 People <br>
                3 Baggages <br>
                Automatic
              </label>
            </td>
            <td>
              <label>84.99$/day</label>
            </td>
            {% if request.user.is_authenticated %}
						<td style = "text-align: right;">
							<a href="{% url 'economyres' %}">
								<button id="tableReserveButton">Reserve</button>
							</a>
						</td>
					{% else %}
						<td style = "text-align: right;">
							<a href="{% url 'login' %}">
								<button type="tableReserveButton">Reserve</button>
							</a>
						</td>
					{% endif %}
          </tr>
          <tr>
            <td style = "text-align: left;">
              <img src="{%static 'img/kia_niro.jpg' %}" width = "350" height = "200">
              <br>
              <a href="{% url 'Niro' %}">Kia Niro</a>
            </td>
            <td>
              <label>
                5 People <br>
                3 Baggages <br>
                Automatic
              </label>
            </td>
            <td>
              <label>94.99$/day</label>
            </td>
            {% if request.user.is_authenticated %}
						<td style = "text-align: right;">
							<a href="{% url 'economyres' %}">
								<button id="tableReserveButton">Reserve</button>
							</a>
						</td>
					{% else %}
						<td style = "text-align: right;">
							<a href="{% url 'login' %}">
								<button type="tableReserveButton">Reserve</button>
							</a>
						</td>
					{% endif %}
          </tr>
      </table>
    </div>
    <footer>
      <div class="footerContainer">
          <table id="footerTable">
              
          </table>
      </div>
   </footer>
  </body>
</html>
