<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Final Receipt</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'OMEGACarList.css' %}">
</head>

<body>
  <div class="headerContainer">
    <h1>Final Receipt</h1>
  </div>
  <div class="sideMenu">
    <ul>
        <li><a href="{% url 'startres' %}">Start a Reservation</a></li>
        <li><a href="{% url 'reservations' %}">Existing Reservation</a></li>
        <li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
        <li><a href="{% url 'findabranch' %}">Find a Branch</a></li>
</ul>
</div>
<br><br>

<div class = "container"> 
<br><br>
        <p style="text-align:center;"><h1>Here is your Receipt</h1></p>
        <h4>You Will Receive your deposit back if there was no damages to the car. If there was any damages, we are unfortunately unable to return it.</h4>
    
        <a href="{% url 'checkOutPayment' %}">
            <button type="button" class = "addButton">Proceed to make a Payment</button>
        </a>

    </div>

<footer>
	<div class="footerContainer">
        	<table id="footerTable"> 
         	</table>
	</div>
</footer>
</body>

</html>
