<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Start Reservation</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'Style.css' %}">
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <h1>Omega's Car Reservations</h1>
      </div>
      {% if request.user.is_authenticated %}
        <div class="signOutButton">
          <a href="{% url 'logout' %}"><button class="header_right_button">Sign Out</button></a>
        </div>
        <div class="accountButton">
          <a href="{% url 'profile' %}"><button class="header_right_button">Account</button></a>
        </div>
      {% else %}
        <div class="logInButton">
          <a href="{% url 'login' %}"><button class="header_right_button">Login</button></a>
        </div>
        <div class="signUpButton">
          <a href="{% url 'signup' %}"><button class="header_right_button">Sign Up</button></a>
        </div>
      {% endif %}
    </header>
    <div class="sideMenu">
      <ul>
          
          <li><a href="{% url 'startres' %}">Start a Reservation</a></li>
          <li><a href="{% url 'reservations' %}">Existing Reservation</a></li>
          <li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
          <li><a href="{% url 'findabranch' %}">Find a Branch</a></li>
      </ul>
    </div>
    <div class="findABranchContainer">
        <form method="post">
            <label for="postalcode">Enter your postal code</label>
            <input type="text" name="postalcode" id="postalcode">
            <button type="submit">Submit</button>
        </form>

    </div>
    
    <footer>
      <div class="footerContainer">
          <table id="footerTable">
              
          </table>
      </div>
   </footer>
  </body>
</html>
