<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'Style.css' %}">
    
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <h1>Omega's Car Reservations</h1>
      </div>
      <a href="{% url 'login' %}"><button class="logInButton">Login</button></a>
      <a href="{% url 'signup' %}"><button class="signUpButton">Sign Up</button></a>
    </header>
    <div class="login-container">
        <h2>Login</h2>
        <form action="#" method="post">
          {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <br>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <br>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="sideMenu">
      <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'startres' %}">Start a Reservation</a></li>
          <li><a href="{% url 'reservations' %}">Existing Reservation</a></li>
          <li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
      </ul>
    </div>
    <footer>
      <div class="footerContainer">
          <table id="footerTable">
              
          </table>
      </div>
   </footer>
    <script>
      function validateForm() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        // Simple validation for demonstration
        if (email === "" || password === "") {
          alert("Please fill out all fields");
          return false;
        }

      }
    </script>
  </body>
</html>
