<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'Style.css' %}">
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <h1>Omega's Car Reservations</h1>
      </div>
      {% if request.user.is_authenticated %}
        <div class="signOutButton">
          <a href="{% url 'logout' %}"><button class="header_right_button">Sign Out</button></a>
        </div>
        <div class="accountButton">
          <a href="{% url 'profile' %}"><button class="header_right_button">Account</button></a>
        </div>
      {% else %}
        <div class="logInButton">
          <a href="{% url 'login' %}"><button class="header_right_button">Login</button></a>
        </div>
        <div class="signUpButton">
          <a href="{% url 'signup' %}"><button class="header_right_button">Sign Up</button></a>
        </div>
      {% endif %}
    </header>
    <div class="sideMenu">
      <ul>
          
          <li><a href="{% url 'startres' %}">Start a Reservation</a></li>
          <li><a href="{% url 'reservations' %}">Existing Reservation</a></li>
          <li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
          <li><a href="{% url 'findabranch' %}">Find a Branch</a></li>

      </ul>
    </div>
    <div class="luxuryChoiceContainer">
      <div class="audiA4">
        <a href="{% url 'audiA4Reserve' %}" class="carLink">Audi A5</a>
        <img src="{%static 'img/audi_a4.jpg' %}" alt="Picture of Audi A5" height="300" width="300">
        <br>
        <a href="{% url 'audiA4Reserve' %}"><button class="viewEconomyCars">Reserve</button></a>
      </div>
      <div class="porsche911">
        <a href="{% url 'porsche911Reserve' %}" class="carLink">Porsche 911</a>
        <img src="{%static 'img/porsche_911.jpg' %}" alt="Picture of the Porsche 911" height="300" width="300">
        <br>
        <a href="{% url 'porsche911Reserve' %}"><button class="viewluxuryCars">Reserve</button></a>
      </div>
      <div class="ferrariRoma">
        <a href="{% url 'ferrariRomaReserve' %}" class="carLink">Ferrari Roma</a>
        
        <img src="{%static 'img/ferrari_roma.jpg' %}" alt="Picture of the Ferarri Roma" height="300" width="300">
        <br>
        <a href="{% url 'ferrariRomaReserve' %}"><button class="viewconvertibleCars">Reserve</button></a>
      </div>
      <div class="bentleyBentayga">
        <a href="{% url 'bentleyBentaygaReserve' %}" class="Link">Bentley Bentayga</a>
        
        <img src="{%static 'img/bentley_bentayga.jpg' %}" alt="Picture of the Bentley Bentayga" height="300" width="300">
        <br>
        <a href="{% url 'bentleyBentaygaReserve' %}"><button class="viewconvertibleCars">Reserve</button></a>
      </div>
    </div>
        
    <footer>
      <div class="footerContainer">
          <table id="footerTable">
              
          </table>
      </div>
   </footer>
  </body>
</html>