<!DOCTYPE "html">
<html lang="en">
<head>
	<title>Omega Car Rentals</title>
	<link rel="stylesheet" href="{%static 'OMEGACarList.css' %}">
</head>
<body>
	<div class="headerContainer">
        	<h1>Omega's Car Reservations</h1>
	</div>
     	<a href="{% url 'login' %}"><button class="logInButton">Login</button></a>
      	<a href="{% url 'signup' %}"><button class="signUpButton">Sign Up</button></a>
</header>
    	<div class="sideMenu">
      		<ul>
			<li><a href="{% url 'home' %}">Home</a></li>
          		<li><a href="{% url 'startres' %}">Start a Reservation</a></li>
        		<li><a href="existingReservation.html">Existing Reservation</a></li>
			<li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
		</ul>
	</div>
	<br><br>
	<div class = "container"> 
		<table>
			<tr>
				<td style = "text-align: left;">
					<input type = "text" id = "searchBox" placeholder = "Search">
					<button type="button" class = "searchButton">Search</button>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td style = "text-align: left;">
					<label>Vehicle</label>
				</td>
				<td>
					<label>Information</label>
				</td>
				<td>
					<label>Price</label>
				</td>
				<td style = "text-align: right;">
					<a href="Addvehicle.html">
						<button type="button" class = "addButton">Add Product</button>
					</a>
				</td>
			</tr>
		</table>
		<table>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/toyota_corolla.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'Corolla' %}">Toyota Corolla</a>
				</td>
				<td>
					<label>
						4 People <br>
						3 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>79.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/honda_civic.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'Civic' %}">Honda Civic</a>
				</td>
				<td>
					<label>
						4 People <br>
						3 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>84.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/chevrolet_volt.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'Volt' %}">Chevrolet Volt</a>
				</td>
				<td>
					<label>
						4 People <br>
						4 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>89.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/toyota_prius.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'Prius' %}">Toyota Prius</a>
				</td>
				<td>
					<label>
						4 People <br>
						3 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>84.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/kia_niro.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'Niro' %}">Kia Niro</a>
				</td>
				<td>
					<label>
						5 People <br>
						3 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>94.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/ford_mustang.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'Mustang' %}">Ford Mustang</a>
				</td>
				<td>
					<label>
						2 People <br>
						1 Baggages <br>
						Manual
					</label>
				</td>
				<td>
					<label>99.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/audi_a5.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'A5' %}">Audi A5</a>
				</td>
				<td>
					<label>
						4 People <br>
						3 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>99.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/BMW_M4.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'M4' %}">BMW M4</a>
				</td>
				<td>
					<label>
						2 People <br>
						2 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>104.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/chevrolet_corvette.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'Corvette' %}">Chevrolet Corvette</a>
				</td>
				<td>
					<label>
						2 People <br>
						1 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>134.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/Porsche_911.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url '911' %}">Porsche 911</a>
				</td>
				<td>
					<label>
						2 People <br>
						1 Baggages <br>
						Manual
					</label>
				</td>
				<td>
					<label>134.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/audi_a4.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'A4' %}">Audi A4</a>
				</td>
				<td>
					<label>
						4 People <br>
						3 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>124.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/ferrari_roma.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'Roma' %}">Ferrari Roma</a>
				</td>
				<td>
					<label>
						2 People <br>
						1 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>199.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
			<tr>
				<td style = "text-align: left;">
					<img src="{%static 'img/bentley_bentayga.jpg' %}" width = "350" height = "200">
					<br>
					<a href="{% url 'Bentayga' %}">Bentley Bentayga</a>
				</td>
				<td>
					<label>
						5 People <br>
						4 Baggages <br>
						Automatic
					</label>
				</td>
				<td>
					<label>199.99$/day</label>
				</td>
				<td style = "text-align: right;">
					<button type="button">Edit<br>Product</button>
					<br>
					<button type="button">Delete Product</button>
				</td>
			</tr>
		</table>
	<br><br>
	</div> 
<footer>
	<div class="footerContainer">
        	<table id="footerTable"> 
         	</table>
	</div>
</footer>
</body>
</html>
