{% extends 'base.html' %}
{% block page_title %}Rental Agreement{% endblock %}
{% block header_title %}Rental Agreement{% endblock %}
{% block content %}
<div class="rental_agreement">
<p></p>
Car Rental Agreement
<p></p>
Rental Agreement Number: [Unique Rental Agreement Number]
<p></p>
This Rental Agreement (&quot;Agreement&quot;) is entered into between [Car Rental Agency Name], located
at [Address], hereinafter referred to as the &quot;Rental Company,&quot; and the individual or entity identified
below, hereinafter referred to as the &quot;Renter&quot;:
<p></p>
1. Renter&#39;s Information:
<p></p>
Name:
<p></p>
Address:
<p></p>
Contact Number:
<p></p>
Email Address:
<p></p>
Driver&#39;s License Number:
<p></p>
2. Vehicle Information:
<p></p>
Make:
<p></p>
Model:
<p></p>
Year:
<p></p>
License Plate Number:
<p></p>
Vehicle Identification Number (VIN):
<p></p>
Color:
<p></p>
3. Rental Details:
<p></p>
Rental Start Date:
<p></p>
Rental End Date:
<p></p>
Pick-up Location:
<p></p>
Drop-off Location:
<p></p>
Rental Period:
<p></p>
Mileage Limit (if applicable):
<p></p>
Rental Rate:
<p></p>
Additional Services (if any):
<p></p>
4. Rental Terms and Conditions:
<p></p>
The Renter acknowledges receiving the vehicle described above in good condition and agrees to
return it to the Rental Company in the same condition, subject to normal wear and tear.
The Renter agrees to use the vehicle solely for personal or business purposes and not for any
illegal activities.
<p></p>
The Renter agrees to pay the Rental Company the agreed-upon rental rate for the specified rental
period. Additional charges may apply for exceeding the mileage limit, late returns, fuel refueling, or
other damages.

<p></p>
The Renter agrees to bear all costs associated with traffic violations, tolls, and parking fines
incurred during the rental period.
<p></p>
The Renter acknowledges that they are responsible for any loss or damage to the vehicle,
including theft, vandalism, accidents, or negligence, and agrees to reimburse the Rental Company
for all repair or replacement costs.
<p></p>
The Renter agrees to return the vehicle to the designated drop-off location at the agreed-upon
date and time. Failure to do so may result in additional charges.
<p></p>
The Rental Company reserves the right to terminate this agreement and repossess the vehicle
without prior notice if the Renter breaches any terms or conditions of this agreement.
The Renter acknowledges receiving and reviewing a copy of the vehicle&#39;s insurance coverage and
agrees to comply with all insurance requirements during the rental period.
<p></p>
5. Indemnification:
<p></p>
The Renter agrees to indemnify and hold harmless the Rental Company, its employees, agents,
and affiliates from any claims, liabilities, damages, or expenses arising out of or related to the
Renter&#39;s use of the vehicle.
<p></p>
6. Governing Law:
<p></p>
This Agreement shall be governed by and construed in accordance with the laws of [Jurisdiction].
Any disputes arising under or related to this Agreement shall be resolved exclusively by the courts
of [Jurisdiction].
<p></p>
7. Entire Agreement:
<p></p>
This Agreement constitutes the entire understanding between the parties concerning the subject
matter hereof and supersedes all prior agreements and understandings, whether written or oral.
<p></p>
8. Signatures:
<p></p>
The parties hereto have executed this Agreement as of the date first written above.
<p></p>
Rental Company:
<p></p>
Signature: ___________________________
<p></p>
Print Name: __________________________
<p></p>
Date: {% now "jS F Y H:i" %}
<p></p>
Renter:
<p></p>
Signature: ___________________________
<p></p>
Print Name: __________________________
<p></p>
Date: {% now "jS F Y H:i" %}
{% endblock content %}