{% extends 'base.html' %}
{% block page_title %}Reservations{% endblock %}
{% block header_title %}Reservations{% endblock %}
{% block content %}
<div class="reservations">
  
  <div class="list">
    {% if user.is_authenticated %}
      {% if user.is_superuser %}
        Visible Only to Admin Users
        <form action="{% url 'generate_random_reservation' %}" method="post" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="generate_reservation_button">
            Generate Random Reservation
          </button>
        </form>
      {% endif %}
      <table style="table-layout:fixed; width: 100%;">
        <tr>
            <th style="font-size: 80%;">Vehicle</th>
            <th style="font-size: 80%;">Start Date</th>
            <th style="font-size: 80%;">End Date</th>
            <th style="font-size: 80%;">Pick Up</th>
            <th style="font-size: 80%;">Drop Off</th>
            <th style="font-size: 80%;">Period</th>
            <th style="font-size: 80%;">Mileage Limit</th>
            <th style="font-size: 80%;">Additional Services</th>
            <th style="font-size: 80%;">Actions</th>
        </tr>
        {% for reservation in user.reservation_set.all %}
          <tr>
            <td>{{ reservation.vehicle|slugify }}</td>
            <td>{{ reservation.reservation_start }}</td>
            <td>{{ reservation.reservation_end }}</td>
            <td>{{ reservation.pick_up_location|slugify }}</td>
            <td>{{ reservation.drop_off_location|slugify }}</td>
            <td>{{ reservation.reservation_end|timeuntil:reservation.reservation_start }}</td>
            <td>{{ reservation.mileage_limit }}</td>
            <td>{{ reservation.additional_services }}</td>
            <td>
              <a href="{% url 'edit_reservation' reservation.id %}"><button class="edit_reservation_button">Edit</button></a>
              <form action="{% url 'delete_reservation' reservation.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="delete_reservation_button" onclick="return confirm('Are you sure you want to delete this reservation?')">Delete</button>
              </form>
              {% if reservation.is_signed %}
              <a href="{% url 'check_out' reservation.id %}"><button class="check_out_button">Check-Out</button></a>
              <a href="{% url 'create_review' reservation.vehicle.id %}"><button class="review_button">Create Review</button></a>
              {% else %}
              <a href="{% url 'rental_setup' reservation.id %}"><button class="check_in_button">Check-In</button></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tr>
      </table>
    {% else %}
      <p>User Not Authenticated.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}

