<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} | Omega</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{%static 'Style.css' %}" />
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <h1>Omega's Car Reservations</h1>
        <h4>Reserve a car or else</h4>
      </div>
      {% if request.user.is_authenticated %}
      <a href=""><button class="signOutButton">Sign Out</button></a>
      <a href=""><button class="accountButton">Account</button></a>
      {% else %}
      <a href="{% url 'login' %}"><button class="logInButton">Login</button></a>
      <a href="{% url 'signup' %}"
        ><button class="signUpButton">Sign Up</button></a
      >
      {% endif %}
    </header>
    <div class="content"></div>
    {% block content %} {% endblock %}
    <div class="sideMenu">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'startres' %}">Start a Reservation</a></li>
        <li><a href="existingReservation.html">Existing Reservation</a></li>
        <li><a href="{% url 'carList' %}">Browse Vehicles</a></li>
      </ul>
    </div>
    <footer>
      <div class="footerContainer">
        <table id="footerTable"></table>
      </div>
    </footer>
  </body>
</html>
