<!DOCTYPE "html">
<html lang="en">
<head>
	<title>Omega Car Rentals</title>
	<link rel="stylesheet" href="OMEGACarList.css">
</head>
<body>
	<h1>
		OMEGA CAR RENTALS
	</h1>
	<table>
		<tr>
			<td style = "text-align: left;">
				<input type = "text" id = "searchBox" placeholder = "Search">
				<button type="button" class = "searchButton">Search</button>
			</td>
		</tr>
	</table>
	
	<div class = "container"> 
		<hr/>
			<table>
				<tr>
					<td style = "text-align: left;">
						<label>Vehicle</label>
					</td>
					<td>
						<label>Information</label>
					</td>
					<td>
						<label>Price</label>
					</td>
					<td style = "text-align: right;">
						<button type="button" class = "addButton">Add Product</button>
					</td>
				</tr>
			</table>
			<hr/>
			<table>
				<tr>
					<td style = "text-align: left;">
						<img src="img/toyota_corolla.jpg" width = "350" height = "200">
						<br>
						<a href="ToyotaCorolla.html">Toyota Corolla</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>79.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/honda_civic.jpg" width = "350" height = "200">
						<br>
						<a href="HondaCivic.html">Honda Civic</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/chevrolet_volt.jpg" width = "350" height = "200">
						<br>
						<a href="ChevroletVolt.html">Chevrolet Volt</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/toyota_prius.jpg" width = "350" height = "200">
						<br>
						<a href="ToyotaPrius.html">Toyota Prius</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/kia_niro.jpg" width = "350" height = "200">
						<br>
						<a href="KiaNiro.html">Kia Niro</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/ford_mustang.jpg" width = "350" height = "200">
						<br>
						<a href="FordMustang.html">Ford Mustang</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/audi_a5.jpg" width = "350" height = "200">
						<br>
						<a href="AudiA5.html">Audi A5</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/BMW_M4.jpg" width = "350" height = "200">
						<br>
						<a href="BMWM4.html">BMW M4</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/chevrolet_corvette.jpg" width = "350" height = "200">
						<br>
						<a href="ChevroletCorvette.html">Chevrolet Corvette</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/Porsche_911.jpg" width = "350" height = "200">
						<br>
						<a href="Porsche911.html">Porsche 911</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/audi_a4.jpg" width = "350" height = "200">
						<br>
						<a href="AudiA4.html">Audi A4</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/ferrari_roma.jpg" width = "350" height = "200">
						<br>
						<a href="FerrariRoma.html">Ferrari Roma</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
				<tr>
					<td style = "text-align: left;">
						<img src="img/bentley_bentayga.jpg" width = "350" height = "200">
						<br>
						<a href="BentleyBentayga.html">Bentley Bentayga</a>
					</td>
					<td>
						<label>
							4 People <br>
							3 Baggages <br>
							Automatic
						</label>
					</td>
					<td>
						<label>84.99$/day</label>
					</td>
					<td style = "text-align: right;">
						<button type="button">Edit<br>Product</button>
						<br>
						<button type="button">Delete Product</button>
					</td>
				</tr>
			</table>
	</div> 
</body>
</html>