<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="Style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <h1>Omega's Car Reservations</h1>
      </div>
      <button class="logInButton">Login</button>
      <button class="signUpButton">Sign Up</button>
    </header>
    <div class="sideMenu">
      <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="startAReservation.html">Start a Reservation</a></li>
          <li><a href="existingReservation.html">Existing Reservation</a></li>
          <li><a href="browseVehicles.html">Browse Vehicles</a></li>
      </ul>
    </div>
    <footer>
      <div class="footerContainer">
          <table id="footerTable">
              
          </table>
      </div>
   </footer>
  </body>
</html>
