<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Start Reservation</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="Style.css">
  </head>
  <body>
    <header>
      <div class="headerContainer">
        <h1>Omega's Car Reservations</h1>
      </div>
      <a href="{% url 'login' %}"><button class="logInButton">Login</button></a>
      <a href="{% url 'signup' %}"><button class="signUpButton">Sign Up</button></a>
    </header>
    <div class="sideMenu">
      <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="startAReservation.html">Start a Reservation</a></li>
          <li><a href="existingReservation.html">Existing Reservation</a></li>
          <li><a href="browseVehicles.html">Browse Vehicles</a></li>
      </ul>
    </div>
    <div class="carClassContainer">
      <div class="economyCars">
        <a href="economyReservation.html" class="economyLink">Economy</a>
        <p class="economyChoices">Chevrolet Spark or similar</p>
        
        <img src="chevrolet volt.jpg" alt="Picture of the Chevrolet volt" height="300" width="300">
        <br>
        <a href="economyReservation.html"><button class="viewEconomyCars">View cars</button></a>
      </div>
      <div class="luxuryCars">
        <a href="luxuryReservation.html" class="economyLink">Luxury</a>
        <p class="luxuryChoices">Audi A4 or similar</p>
        <img src="audia4.jpg" alt="Picture of the Audi A4" height="300" width="300">
        <br>
        <a href="luxuryReservation.html"><button class="viewluxuryCars">View cars</button></a>
      </div>
      <div class="convertibleCars">
        <a href="convertibleReservation.html" class="convertibleLink">Convertible</a>
        <p class="convertibleChoices">Ford Mustang or similar</p>
        <img src="mustang.jpg" alt="Picture of the Ford Mustang" height="300" width="300">
        <br>
        <a href="convertibleReservation.html"><button class="viewconvertibleCars">View cars</button></a>
      </div>
    </div>
    
    <footer>
      <div class="footerContainer">
          <table id="footerTable">
              
          </table>
      </div>
   </footer>
  </body>
</html>
